{% extends 'base.html' %}
{% block title %}
   {{ title }}
{% endblock %}
{% block content %}
            {% for customer in object_list %}
            <li>{{ customer.id }} {{ customer.first_name }}  {{ customer.last_name }}  <a href="{% url 'customers:detail' customer.id %}">Детали</a>
            </li>
        {% endfor %}
    <br><a href="{% url 'customers:new' %}">Добавить клиента</a>
{% endblock %}
