{% extends 'base.html' %}
{% block title %}
    {{ customer.first_name }} {{ customer.last_name }}
{% endblock %}
{% block content %}
    <h4>{{ customer.first_name }} {{ customer.last_name }}  {{ customer.phone_number }}
     </h4>
    <form method="GET" action="{% url "customers:edit" customer.id %}">
   {% csrf_token %}
        <input type="submit" value="Изменить">
    </form>
    <h1>   </h1>
    <form method="POST" action="{% url "customers:delete" customer.id %}">
   {% csrf_token %}<input type="submit" value="Удалить">
    </form>


{% endblock %}
