{% extends 'base.html' %}
{% block title %}
   {{ title }}
{% endblock %}
{% block content %}
        {% for cleaner in object_list %}
            <li>{{ cleaner.id }} {{ cleaner.first_name }}  {{ cleaner.last_name }} {{ cleaner.quality_score }}  <a href="{% url 'cleaners:detail' cleaner.id %}">Детали</a>
            </li>
        {% endfor %}
    <br><a href="{% url 'cleaners:new' %}">Добавить клинера</a>
   <span>  {{ massage }}</span>
{% endblock %}
