{% extends 'base.html' %}
{% block title %}
    {{ cleaner.first_name }} {{ cleaner.last_name }}
{% endblock %}
{% block content %}
    <h4>{{ cleaner.first_name }} {{ cleaner.last_name }}  {{ cleaner.quality_score }} {{ cleaner.number_phone }}
        {% for sity in cleaner.cities.all %}
        {{ sity }}
        {% endfor %}
     </h4>
    <form method="GET" action="{% url "cleaners:edit" cleaner.id %}">
   {% csrf_token %}
        <input type="submit" value="Изменить">
    </form>
    <h1>   </h1>
    <form method="POST" action="{% url "cleaners:delete" cleaner.id %}">
   {% csrf_token %}<input type="submit" value="Удалить">
    </form>


{% endblock %}
